{
  "openapi": "3.0.0",
  "info": {
    "title": "BoostGPT API",
    "version": "1.0.0",
    "description": "Start by creating a project in BoostGPT, which will provide you with a dedicated workspace for each of your applications. Within each project, you can create and train multiple chatbots. You will need an Openai key to be able to create a project.\n\nTo begin, create your initial project and copy its ID. Go to the project settings to copy your project ID or go here: [https://app.boostgpt.co/settings](https://app.boostgpt.co/settings). Use your project ID in your requests when interacting with our API."
  },
  "servers": [
    {
      "url": "https://api.boostgpt.co/v1/",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/bot/source/create": {
      "post": {
        "summary": "https://api.boostgpt.co/v1/bot/source/create",
        "tags": [
          "Bot",
          "Sources"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 0,
              "maxLength": 0
            }
          }
        ],
        "responses": {},
        "description": "Adds a new data source to your bot\n\n| **Request body** |  |  |\n| --- | --- | --- |\n| project_id | String | Required |\n| bot_id | String | Required |\n| tags | Array | Optional  <br>  <br>Segment the training data using only tags that contain uppercase and lowercase letters (A-Z, a-z), numeric digits (0-9), underscores (_), hyphens (-), and hash symbols (#). Exclude any tags with other characters |\n| type | String | Require any of : text, file, webpage, website |\n| source | String/Array | Require your text content or an accessible link to your file, webpage, or website  <br>  <br>The source can be an array of link(s) you want your bot to learn when you set the \"type\" to **webpage** or **file**. |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string"
                  },
                  "bot_id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {}
                  },
                  "type": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string"
                  },
                  "forget_after": {
                    "type": "string"
                  },
                  "sync_frequency": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bot/source/read": {
      "get": {
        "summary": "https://api.boostgpt.co/v1/bot/source/read",
        "tags": [
          "Bot",
          "Sources"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bot_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Fetches all the embeddings in a data source",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/bot/source/readall": {
      "get": {
        "summary": "https://api.boostgpt.co/v1/bot/source/readall",
        "tags": [
          "Bot",
          "Sources"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bot_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Fetches a paginated list of all the created data sources",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/bot/source/update": {
      "put": {
        "summary": "https://api.boostgpt.co/v1/bot/source/update",
        "tags": [
          "Bot",
          "Sources"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Updates a bot data source\n\n| **Request body** |  |  |\n| --- | --- | --- |\n| project_id | String | Required |\n| bot_id | String | Required |\n| source_id | String | Required |\n| tags | Array | Optional  <br>  <br>Segment the training data using only tags that contain uppercase and lowercase letters (A-Z, a-z), numeric digits (0-9), underscores (_), hyphens (-), and hash symbols (#). Exclude any tags with other characters |\n| type | String | Require any of : text, file, webpage, website |\n| source | String/Array | Require your text content or an accessible link to your file, webpage, or website  <br>  <br>The source can be an array of link(s) you want your bot to learn when you set the \"type\" to **webpage** or **file**. |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/bot/source/settings/update": {
      "put": {
        "summary": "https://api.boostgpt.co/v1/bot/source/settings/update",
        "tags": [
          "Bot",
          "Sources"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Updates a bot data source\n\n| **Request body** |  |  |\n| --- | --- | --- |\n| project_id | String | Required |\n| bot_id | String | Required |\n| source_id | String | Required |\n| tags | Array | Optional  <br>  <br>Segment the training data using only tags that contain uppercase and lowercase letters (A-Z, a-z), numeric digits (0-9), underscores (_), hyphens (-), and hash symbols (#). Exclude any tags with other characters |\n| type | String | Require any of : text, file, webpage, website |\n| source | String/Array | Require your text content or an accessible link to your file, webpage, or website  <br>  <br>The source can be an array of link(s) you want your bot to learn when you set the \"type\" to **webpage** or **file**. |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string"
                  },
                  "bot_id": {
                    "type": "string"
                  },
                  "source_id": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "type": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bot/source/delete": {
      "delete": {
        "summary": "https://api.boostgpt.co/v1/bot/source/delete",
        "tags": [
          "Bot",
          "Sources"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bot_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Deletes a bot data source",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/bot/search": {
      "post": {
        "summary": "https://api.boostgpt.co/v1/bot/search",
        "tags": [
          "Bot",
          "Search"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Search your trained chatbot vector database\n\n| **Request body** |  |  |\n| --- | --- | --- |\n| project_id | String | Required |\n| bot_id | String | Required |\n| keywords | String | Required |\n| source_ids | Array | Optional  <br>  <br>The training source IDs you want the AI's knowledge to be limited to. |\n| tags | Array | Optional  <br>  <br>Utilize tags to restrict the AI's knowledge to a specific set of training data.  <br>  <br>Only tags that contain uppercase and lowercase letters (A-Z, a-z), numeric digits (0-9), underscores (_), hyphens (-), and hash symbols (#) are allowed. |\n| top | Integer | Optional  <br>  <br>The weight of training data used to form the AI's context.  <br>  <br>Recommended settings between: 10 - 20 give a better response from the AI.  <br>  <br>Defaults to the bot top settings. |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string"
                  },
                  "bot_id": {
                    "type": "string"
                  },
                  "keywords": {
                    "type": "string"
                  },
                  "source_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "top": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bot/create": {
      "post": {
        "summary": "https://api.boostgpt.co/v1/bot/create",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "deprecated": false,
            "schema": {}
          }
        ],
        "responses": {},
        "description": "**Creates a bot**\n\n| **Request body** |  |  |\n| --- | --- | --- |\n| project_id | String | Required |\n| name | String | Optional  <br>  <br>Give your bot a nice name. |\n| model | String | The model to use for the AI's response.  <br>  <br>Require any of : gpt-3.5-turbo, gpt-3.5-turbo-16k, gpt-3.5-turbo-1106, gpt-4-32k, gpt-4-0613, gpt-4-32k-0613, gpt-4 |\n| instruction | String | Optional  <br>  <br>This is an instruction that guides the AI on how to respond. |\n| max_reply_tokens | Integer | Optional  <br>  <br>The maximum number of tokens allowed for the AI's response. By default, the number of tokens is set to 300. |\n| top | Integer | Optional  <br>  <br>The weight of training data used to form the AI's context. Defaults to 15.  <br>  <br>Recommended settings between: 10 - 20 give a better response from the AI. |\n| welcome_message | String | Optional  <br>  <br>This is the welcome message visitors will see when they open a chat. |\n| status | String | The status of the AI bot.  <br>  <br>Require any string of \\[ \"1\" or \"0\"\\]. Status 1 = online, Status 0 = offline |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "instruction": {
                    "type": "string"
                  },
                  "status": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bot/read": {
      "get": {
        "summary": "https://api.boostgpt.co/v1/bot/read",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bot_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Fetches a bot info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/bot/readall": {
      "get": {
        "summary": "https://api.boostgpt.co/v1/bot/readall",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Fetches all the created bot in a project",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/bot/update": {
      "put": {
        "summary": "https://api.boostgpt.co/v1/bot/update",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "deprecated": false,
            "schema": {}
          }
        ],
        "responses": {},
        "description": "Updates a bot\n\n| **Request body** |  |  |\n| --- | --- | --- |\n| project_id | String | Required |\n| name | String | Optional  <br>  <br>Give your bot a nice name. |\n| bot_id | String | Required |\n| model | String | The model to use for the AI's response.  <br>  <br>Require any of : gpt-3.5-turbo, gpt-3.5-turbo-16k, gpt-3.5-turbo-1106, gpt-4-32k, gpt-4-0613, gpt-4-32k-0613, gpt-4 |\n| instruction | String | Optional  <br>  <br>This is an instruction that guides the AI on how to respond. |\n| max_reply_tokens | Integer | Optional  <br>  <br>The maximum number of tokens allowed for the AI's response. |\n| top | Integer | Optional  <br>  <br>The weight of training data used to form the AI's context.  <br>  <br>Recommended settings between: 10 - 20 give a better response from the AI. |\n| welcome_message | String | Optional  <br>  <br>This is the welcome message visitors will see when they open a chat. |\n| hide_branding | String | Optional  <br>  <br>This option conceals the BoostGPT branding label displayed on the AI assistant. |\n| status | String | The status of the AI bot.  <br>  <br>Require any string of \\[ \"1\" or \"0\"\\]. Status 1 = online, Status 0 = offline |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string"
                  },
                  "bot_id": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "instruction": {
                    "type": "string"
                  },
                  "status": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bot/reset": {
      "post": {
        "summary": "https://api.boostgpt.co/v1/bot/reset",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Reset a bot. This deletes all the bot's training data.\n\n| **Request body** |  |  |\n| --- | --- | --- |\n| project_id | String | Required |\n| bot_id | String | Required |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string"
                  },
                  "bot_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bot/delete": {
      "delete": {
        "summary": "https://api.boostgpt.co/v1/bot/delete",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bot_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Deletes a bot",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/bot/chat": {
      "post": {
        "summary": "https://api.boostgpt.co/v1/bot/chat",
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Engage your trained chatbot and get a response\n\n| **Request body** |  |  |\n| --- | --- | --- |\n| project_id | String | Required |\n| bot_id | String | Required |\n| openai_key | String | Required |\n| model | String | Optional  <br>  <br>The model to use for the AI's response. Defaults to the bot model.  <br>  <br>Options available:  <br>gpt-3.5-turbo, gpt-3.5-turbo-16k, gpt-3.5-turbo-1106, gpt-4-32k, gpt-4-0613, gpt-4-32k-0613, gpt-4. |\n| message | String | Required |\n| source_ids | Array | Optional  <br>  <br>The training source IDs you want the AI's knowledge to be limited to. |\n| tags | Array | Optional  <br>  <br>Utilize tags to restrict the AI's knowledge to a specific set of training data.  <br>  <br>Only tags that contain uppercase and lowercase letters (A-Z, a-z), numeric digits (0-9), underscores (_), hyphens (-), and hash symbols (#) are allowed. |\n| top | Integer | Optional  <br>  <br>The weight of training data used to form the AI's context.  <br>  <br>Recommended settings between: 10 - 20 give a better response from the AI.  <br>  <br>Defaults to the bot top settings. |\n| instruction | String | Optional  <br>  <br>This is an instruction that guides the AI on how to respond.  <br>  <br>Defaults to the bot instruction settings. |\n| max_reply_tokens | Integer | Optional  <br>  <br>The maximum number of tokens allowed for the AI's response.  <br>  <br>Defaults to the bot max_reply_tokens settings. |\n| chat_id | String | Provide a chat id to engage with the AI bot in a conversational manner. Chat id should be unique per chat thread with the AI. |\n| stream | Boolean | Provides control over the response behavior. When set to true, it enables streaming of partial progress updates. Alternatively, when set to false, the full response will be sent once it's ready.  <br>  <br>This enhancement gives users the flexibility to choose between receiving real-time progress updates or waiting for the complete response. |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string"
                  },
                  "bot_id": {
                    "type": "string"
                  },
                  "provider_key": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "source_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "top": {
                    "type": "integer"
                  },
                  "instruction": {
                    "type": "string"
                  },
                  "max_reply_tokens": {
                    "type": "integer"
                  },
                  "stream": {
                    "type": "boolean"
                  },
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bot/chat/delete": {
      "delete": {
        "summary": "https://api.boostgpt.co/v1/bot/chat/delete",
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bot_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chat_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Delete a chat history",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/bot/chat/read": {
      "get": {
        "summary": "https://api.boostgpt.co/v1/bot/chat/read",
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bot_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chat_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Fetches a chatbot chat history",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/bot/chat/readall": {
      "get": {
        "summary": "https://api.boostgpt.co/v1/bot/chat/readall",
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bot_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Fetches a chatbot chats.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/bot/subscriber/readall": {
      "get": {
        "summary": "https://api.boostgpt.co/v1/subscriber/readall",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Fetches all leads",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  }
}